<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NU.OJL.MPRTOS.TLV.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NU.OJL.MPRTOS.TLV.Core.Properties.Settings>
            <setting name="RulesDirectoryPath" serializeAs="String">
                <value>rules</value>
            </setting>
            <setting name="ConvertRulesDirectoryPath" serializeAs="String">
                <value>rules\convertRules</value>
            </setting>
            <setting name="VisualizeRulesDirectoryPath" serializeAs="String">
                <value>rules\visualizeRules</value>
            </setting>
        </NU.OJL.MPRTOS.TLV.Core.Properties.Settings>
    </userSettings>
</configuration>